html * {
    font-family: Courier, monospace;
}

.q-content {
    width: 50%;
    margin: auto;
}

h1, h2 {
    text-align: center;
}

.question {
    width: 50%;
    margin: auto;
    padding: 10px;
}

textarea {
    width: 100%;
    font-size: medium;
    background: beige;
}

.submit-btn {
    text-align: center;
    padding: 10px;
}

button {
    font-size: x-large;
}

@media only screen
and (max-device-width: 812px) {
    .q-content {
        width: 80%;
        margin: auto;
    }

    .question {
        width: 80%;
        margin: auto;
        padding: 10px;
    }

    label {
        font-size: xx-large;
    }
}

